@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Define variáveis (para o projeto inteiro) */
:root {
  --black:black;
  --text-light: light rgb(211, 194, 194);
  --text-accent: gray;
  --light-red: red;
  --dark-red: rgb(145, 18, 18);
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Fira Code', monospace;
}


/* Estilos da página index.html */
body {
  font-family: sans-serif;
}
.center {
  text-align: center;
}

.justify {
  text-align: justify;
}

.container{
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

#menu li {
  display: inline;
  padding: 1rem;
}

#menu li a {
  text-decoration: none;
  color: black;
  font-size: large;
}

#menu li a:hover {
  color: gray;
}

.p-30 {
  padding: 3rem;
}

.br-50 {
  border-radius: 50%;
}

.wh-300 {
  width: 30rem;
  height: 30rem
}

.tm-social {
  width: 4rem;
}

.mb-50 {
  margin-bottom: 5rem;
}

.p-10 {
  padding: 1rem;
}


/* Estilos da página contato.html */

.ml-50 {
  margin-left: 5rem;
}

.c-top {
  align-items: baseline;
}